Flask==2.2.3
Flask-WTF[email]==1.1.1
Flask-SQLAlchemy==3.0.3
psycopg2==2.9.5
Bcrypt-Flask==1.0.2
Flask-Login==0.6.2
PyJWT==2.6.0
Flask-Mail==0.9.1
Flask-Moment==1.0.5
pydantic[dotenv]==1.10.2
gunicorn==20.1.0
alembic==1.8.1
Flask-Babel==2.0.0
Flask-Caching==2.0.1