{% extends "base.html" %}
{% import "macro_pagination.html" as widget %}
{% import "macro_modal.html" as modals %}
{% import "macro_table.html" as table %}

{% block head %}
    {{ table.table_import_head() }}
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ url_for('home.home_view') }}">Home</a></li>
              <li class="breadcrumb-item"><a href="{{ url_for('admin.admin_view') }}">Admin</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ _("Users") }}</li>
            </ol>
        </nav>

        <h3>{% block title %} {{ _("Users") }} {% endblock %}</h3>

        <div class="card mt-3 shadow-sm">
            <div class="card-body">   
                <table id="data" class="table dt-responsive nowrap" style="width:100%"></table>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

    {{ table.table_import_scripts() }}

  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/admin/users/get_data',
        serverSide: true,
        responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.modal( {
                    header: function ( row ) {
                        var data = row.data();
                        return '{{ _("Detail") }}: '+data.name;
                    }
                } ),
                renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                    tableClass: 'table'
                } )
            }
        },
        columns: [
            { data: "username" },
            { data: "email" },
            { data: "created_at" },
            { data: "roles" },

        ],      
        columnDefs: [
            {
                "defaultContent": "-",
                "targets": "_all"
            },
            {
                targets: 0,
                orderable: true,
                searchable: true,
                title: '{{ _("Username") }}',
                render: function (data, type, row, meta) {
                    return '<h5><a href="/user/' + data + '"><span class="badge bg-primary">' + data + '</span></a></h5>';
                }
            },
            {
                targets: 1,
                orderable: true,
                searchable: true,
                title: '{{ _("Email") }}',
                render: function (data, type, row, meta) {
                    return data;
                }
            },
            {
                targets: 2,
                orderable: true,
                searchable: true,
                title: '{{ _("Created date") }}',
                render: function (data, type, row, meta) {
                    return data;
                }
            },
            {
                targets: 3,
                orderable: true,
                searchable: true,
                title: '{{ _("Roles") }}',
                render: function (data, type, row, meta) {
                    for (var i = 0, r="<h5>"; i < data.length; i++) {
                        r += '<a href="/admin/roles/view/' + data[i][0] + '"><span class="badge bg-secondary">' + data[i][1] + '</span></a> ';
                    }
                    r += '</h5>';
                    return r;
                }
            },
        ],
        "language": {
            "lengthMenu": '{{ _("Display _MENU_ records per page") }}',
            "zeroRecords": '{{ _("Nothing found - sorry") }}',
            "info": '{{ _("Showing page _PAGE_ of _PAGES_") }}',
            "infoEmpty": '{{ _("No records available") }}',
            "infoFiltered": '{{ _("(filtered from _MAX_ total records)") }}',
            "search": '{{ _("Search:") }}',
            "loadingRecords": '{{ _("Loading...") }}',
            "paginate": {
                "first": '{{ _("First") }}',
                "last": '{{ _("Last") }}',
                "next": '{{ _("Next") }}',
                "previous": '{{ _("Previous") }}',
            },
        }
      });
    });
  </script>

{% endblock %}