{% macro confirm_delete_role() %}

<div class="modal fade" id="modalDeleteRole" tabindex="-1" aria-labelledby="modalDeleteRoleLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDeleteRoleLabel">{{ _("Delete role") }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{ _("Are you sure you want to delete this role?") }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Cancel") }}</button>
          <a href="" type="button" class="btn btn-primary" id="btn-modal-delete">{{ _("Delete") }}</a>
        </div>
      </div>
    </div>
</div>

{% endmacro %}


{% macro confirm_delete_permission() %}

<div class="modal fade" id="modalDeletePermission" tabindex="-1" aria-labelledby="modalDeletePermissionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDeletePermissionLabel">{{ _("Delete permission") }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{ _("Are you sure you want to delete this permission?") }}</p> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Cancel") }}</button>
          <a href="" type="button" class="btn btn-primary" id="btn-modal-delete">{{ _("Delete") }}</a>
        </div>
      </div>
    </div>
</div>

{% endmacro %}


{% macro confirm_delete_user_role() %}

<div class="modal fade" id="modalDeleteUserRole" tabindex="-1" aria-labelledby="modalDeleteUserRoleLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDeleteUserRoleLabel">{{ _("Delete user role") }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{ _("Are you sure you want to delete this user role?") }}</p> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Cancel") }}</button>
          <a href="" type="button" class="btn btn-primary" id="btn-modal-delete">{{ _("Delete") }}</a>
        </div>
      </div>
    </div>
</div>

{% endmacro %}


{% macro confirm_add_user_role() %}

<div class="modal fade" id="modalAddUserRole" tabindex="-1" aria-labelledby="modalAddUserRoleLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddUserRoleLabel">{{ _("Add user role") }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{ _("Are you sure you want to add this user role?") }}</p> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Cancel") }}</button>
          <a href="" type="button" class="btn btn-primary" id="btn-modal-add">{{ _("Add") }}</a>
        </div>
      </div>
    </div>
</div>

{% endmacro %}


{% macro confirm_delete_user() %}

<div class="modal fade" id="modalDeleteUser" tabindex="-1" aria-labelledby="modalDeleteUserLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDeleteUserLabel">Delete user</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span>Name: <em><span id="data_name"></span></em></span>
          <p>Are you sure you want to delete this user?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href="" type="button" class="btn btn-primary" id="btn-modal-delete">Delete</a>

        </div>
      </div>
    </div>
</div>

{% endmacro %}