{% extends "base.html" %}
{% import "macro_pagination.html" as widget %}
{% import "macro_modal.html" as modals %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap5.min.css"/>
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ url_for('home.home_view') }}">Home</a></li>
              <li class="breadcrumb-item"><a href="{{ url_for('admin.admin_view') }}">Admin</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ _("Roles") }}</li>
            </ol>
        </nav>

        <h3>{% block title %} {{ _("Roles list") }} {% endblock %}</h3>

        <div class="row mt-3">
            {% for role in user_roles %}
                <div class="col-sm-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3 class="card-title">{{ role.name }}</h3>
                            <p>Total users: {{ role.users|length }}</p>
                            <a href="{{url_for('roles.view_role', id=role.id)}}" class="btn btn-primary">{{ _("View") }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="card mt-3 shadow-sm">
            <div class="card-body">
                <table id="data" class="table dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>{{ _("Role") }}</th>
                            <th>{{ _("Description") }}</th>
                            <th>{{ _("Permissions") }}</th>
                            <th>{{ _("Created date") }}</th>
                            <th>{{ _("Actions") }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{ modals.confirm_delete_role() }}


{% endblock %}


{% block scripts %}
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bootstrap5.js"></script>
  
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/roles/get_data',
        serverSide: true,
        responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.modal( {
                    header: function ( row ) {
                        var data = row.data();
                        return '{{ _("Rol detail") }}: '+data.name;
                    }
                } ),
                renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                    tableClass: 'table'
                } )
            }
        },
        columns: [
            { data: "name" },
            { data: "description" },
            { data: "permissions" },
            { data: "created_at" },
            { data: "" },
        ],      
        columnDefs: [
            {
                "defaultContent": "-",
                "targets": "_all"
            },
            {
                targets: 0,
                orderable: true,
                searchable: true,
                title: '{{ _("Name") }}',
                render: function (data, type, row, meta) {
                    return '<h5><a href="/roles/view/' + row.id + '"><span class="badge bg-primary">' + data + '</span></a></h5> ';
                }
            },
            {
                targets: 1,
                orderable: true,
                searchable: true,
                title: '{{ _("Description") }}',
                render: function (data, type, row, meta) {
                    return data;
                }
            },
            {
                targets: 2,
                orderable: false,
                searchable: true,
                title: '{{ _("Permissions") }}',
                render: function(e, a, t, s) {
                    for (var i = 0, r="<h5>"; i < e.length; i++) {
                        r += '<span class="badge" style="background-color:' + e[i][1] +  '">' + e[i][0] + '</span> ';
                    }
                    r += '</h5>';
                    return '<span class="text-nowrap">' + r + "</span>"
                }
            },
            {
                targets: 3,
                orderable: true,
                searchable: true,
                title: '{{ _("Created date") }}',
                render: function (data, type, row, meta) {
                    return data;
                }
            },
            {
                targets: -1,
                searchable: false,
                orderable: false,
                title: '{{ _("Actions") }}',
                render: function(e, a, t, s) {
                    let url_edit = '/roles/edit/' + t.id;
                    let url_delete = '/roles/delete/' + t.id;
                    return '<span class="text-nowrap">'
                        +'<a href="' + url_edit + '" class="btn btn-sm btn-primary">'
                        +'<i class="bi bi-pencil"></i>'
                        +'</a>'
                        +'<button class="btn btn-sm btn-danger ms-1"'
                        +' type="button" data-bs-toggle="modal"'
                        +' data-bs-target="#modalDeleteRole" data-bs-url="'+ url_delete +'">'
                        +'<i class="bi bi-trash"></i>'
                        +'</button>'
                        +'</span>'
                }
            },    
        ],
        dom: '<"row mx-1"<"col-sm-12 col-md-3" l><"col-sm-12 col-md-9"<"dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-md-end justify-content-center flex-wrap me-1"<"me-3"f>B>>>t<"row mx-2"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
        buttons: [
            {
                text: '{{ _("Create role") }}',
                className: "btn btn-success btn-sm mb-3 mb-md-0",
                action: function (e, dt, node, config) {
                    window.location.href = '/roles/create';
                }
            }
        ],
        "language": {
            "lengthMenu": '{{ _("Display _MENU_ records per page") }}',
            "zeroRecords": '{{ _("Nothing found - sorry") }}',
            "info": '{{ _("Showing page _PAGE_ of _PAGES_") }}',
            "infoEmpty": '{{ _("No records available") }}',
            "infoFiltered": '{{ _("(filtered from _MAX_ total records)") }}',
            "search": '{{ _("Search:") }}',
            "loadingRecords": '{{ _("Loading...") }}',
            "paginate": {
                "first": '{{ _("First") }}',
                "last": '{{ _("Last") }}',
                "next": '{{ _("Next") }}',
                "previous": '{{ _("Previous") }}',
            },
        },
      });
    });
  </script>

    <script src="{{ url_for('roles.static', filename='js/modal.js') }}"></script>

{% endblock %}